OPENAI_API_KEY=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
TAVILY_API_KEY=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